

#slider22 .slider-selection {
	background: #81bfde;
}

#slider22 .slider-rangeHighlight {
	background: #f70616;
}

#slider22 .slider-rangeHighlight.category1 {
	background: #FF9900;
}

#slider22 .slider-rangeHighlight.category2 {
	background: #99CC00;
}

.card {
	background-color: #e0e0e0;
}

.slider-example {
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 35px 0;
}

#image_place {
	height: 100vh;
}

.div-header {
	width: 90%;
	float: left;
}

.div-btn {
	width: 10%;
	float: left;
}

.small_text {
	font-size: 14px;
}

.slider {
	margin: 10px;
	width: 95% !important;
}

.well {
	margin: 0px;
	padding: 5px;
	background-color: #D0D0D0;
}

.btn-group button {
	background-color: #006A99;
	;
	/* Green background */
	border: 1px solid white;
	/* Green border */
	border-radius: 5px;
	display: inline-flex;
	height: 40px;
	color: white;
	/* White text */
	padding: 10px 24px;
	/* Some padding */
	cursor: pointer;
	/* Pointer/hand icon */
	float: left;
	/* Float the buttons side by side */
}

.btn-group select {
	background-color: #006A99;
	/* Green background */
	border: 1px solid white;
	/* Green border */
	border-radius: 5px;
	height: 40px;
	color: white;
	/* White text */
	padding: 10px 24px;
	/* Some padding */
	cursor: pointer;
	/* Pointer/hand icon */
	float: left;
	/* Float the buttons side by side */
}


/* Clear floats (clearfix hack) */

.btn-group:after {
	content: "";
	clear: both;
	display: table;
}

.btn-group button:not(:last-child) {
	border-right: none;
	/* Prevent double borders */
}


/* Add a background color on hover */

.btn-group button:hover {
	background-color: #005077;
}

label {
	padding: 5px;
}

input[type="range"] {
	margin: 0px;
	padding: : 40px;
}

</style><style type="text/css">#radioBtn .notActive {
	color: #3276b1;
	background-color: #fff;
}

