{% extends "layout.html" %}

{% block styles %}
{{ super() }}

    <style>
        canvas {
            width: 900px;
            height: auto;
        }
        .btn-definir {
            width: 100%;
        }
    </style>

{% endblock %} 


{% block app_content %}
    <!---div class="container">
        <div class="row">
            <div class="col-md-6">
                <canvas id="canvas0" width="900" height="600"></canvas>
                <button class="btn btn-primary btn-definir" id="definir-polilinea1">Definir polilínea 1</button>
            </div>
            <div class="col-md-6">
                <canvas id="canvas1" width="900" height="600"></canvas>
                <button class="btn btn-primary btn-definir" id="definir-polilinea2">Definir polilínea 2</button>
            </div>
        </div>
    </div-->
    
<h1>Definir Polilínea</h1>
    <div class="canvas-container">
        <canvas id="canvas0" width="900" height="600" style="border:1px solid black;"></canvas>
        <canvas id="canvas1" width="900" height="600" style="border:1px solid black;"></canvas>
    </div>
    <div class="button-container">
        <button id="polilinea_btn0">Definir Polilínea 1</button>
        <button id="polilinea_btn1">Definir Polilínea 2</button>
        <br>
        <button id="enviar_btn">Enviar Polilíneas</button>
    </div>
{# so far all html #}
{% endblock %}

{# and now the js#}
{% block app_scripts%}
{{ super() }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">


        var canvas0 = document.getElementById('canvas0');
        var ctx0 = canvas0.getContext('2d');
        var polilinea0 = [];

        var canvas1 = document.getElementById('canvas1');
        var ctx1 = canvas1.getContext('2d');
        var polilinea1 = [];

        var img0 = new Image();
        img0.onload = function() {
            ctx0.drawImage(img0, 0, 0, canvas0.width, canvas0.height);
        };
        img0.src = "{{ url_for('static', filename=imagen0) }}";

        var img1 = new Image();
        img1.onload = function() {
            ctx1.drawImage(img1, 0, 0, canvas1.width, canvas1.height);
        };
        img1.src = "{{ url_for('static', filename=imagen1) }}";

        $('#polilinea_btn0').click(function() {
            polilinea0 = [];
            ctx0.clearRect(0, 0, canvas0.width, canvas0.height);
            ctx0.drawImage(img0, 0, 0, canvas0.width, canvas0.height);
            canvas0.addEventListener('mousedown', function(e) {
                var rect = canvas0.getBoundingClientRect();
                var x = e.clientX - rect.left;
                var y = e.clientY - rect.top;
                polilinea0.push([x, y]);
                drawPolilinea0();
            });
        });

        $('#polilinea_btn1').click(function() {
            polilinea1 = [];
            ctx1.clearRect(0, 0, canvas1.width, canvas1.height);
            ctx1.drawImage(img1, 0, 0, canvas1.width, canvas1.height);
            canvas1.addEventListener('mousedown', function(e) {
                var rect = canvas1.getBoundingClientRect();
                var x = e.clientX - rect.left;
                var y = e.clientY - rect.top;
                polilinea1.push([x, y]);
                drawPolilinea1();
            });
        });

        function drawPolilinea0() {
            ctx0.clearRect(0, 0, canvas0.width, canvas0.height);
            ctx0.drawImage(img0, 0, 0, canvas0.width, canvas0.height);
            ctx0.beginPath();
            ctx0.moveTo(polilinea0[0][0], polilinea0[0][1]);
            ctx0.strokeStyle = 'lightgreen';
            ctx0.lineWidth = 3;
            for (var i = 1; i < polilinea0.length; i++) {
                ctx0.lineTo(polilinea0[i][0], polilinea0[i][1]);
            }
            ctx0.closePath();
            ctx0.stroke();
        }

        function drawPolilinea1() {
            ctx1.clearRect(0, 0, canvas1.width, canvas1.height);
            ctx1.drawImage(img1, 0, 0, canvas1.width, canvas1.height);
            ctx1.beginPath();
            ctx1.moveTo(polilinea1[0][0], polilinea1[0][1]);
            ctx1.strokeStyle = 'lightgreen';
            ctx1.lineWidth = 3;
            for (var i = 1; i < polilinea1.length; i++) {
                ctx1.lineTo(polilinea1[i][0], polilinea1[i][1]);
            }
            ctx1.closePath();
            ctx1.stroke();
        }

        $(document).ready(function() {
            // Manejar el clic en el botón "Enviar polilíneas"
            $('#enviar_btn').click(function(event) {
                // Evitar que se ejecute el evento predeterminado del botón
                event.preventDefault();

                // Obtener las polilíneas del formulario
                //var polilinea0 = $('#polilinea0').val();
                //var polilinea1 = $('#polilinea1').val();

                // Enviar los datos del formulario mediante AJAX
                $.ajax({
                    type: 'POST',
                    url: '/guardar_polilineas',
                    data: {
                        polilinea0: JSON.stringify(polilinea0), polilinea1: JSON.stringify(polilinea1) 
                    },
                    success: function(response) {
                        // Verificar si el proceso fue exitoso
                        if (response.success) {
                            // Si success es True, redirigir a la página especificada
                            window.location.href = response.redirect;
                        } else {
                            // Si success es False, mostrar mensaje de error y recargar la página
                            alert(response.message);
                            location.reload();
                        }
                    },
                    error: function() {
                        // Manejar errores de la solicitud AJAX
                        alert('Error al procesar la solicitud.');
                    }
                });
            });
        });
    </script>
{% endblock %}