<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block styles%}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <style>
    .navbar {
    background-color: steelblue; /* Fondo azul */
    }
    .nav-link {
    font-size: 18px;
    padding: 10px 30px; /* Aumentar el espacio alrededor de los enlaces */
    }
    </style>


    <!-- Bootstrap Icons 1.5 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/icf_styles.css') }}">

  {% endblock %}

  {% block title %}  
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Visual 50</title>
  {% endif %}
  {% endblock %}
  </head>
  <body>

  {% block navbar %}

  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('select_results_file')}}">Select File</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_live_feed')}}">Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link "href="{{ url_for('definir_polilineas')}}">Define Polylines</a>
          </li><li class="nav-item">
            <a class="nav-link" href="{{ url_for('video_feed', show_option = '1')}}">Camera 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('video_feed', show_option = '2')}}">Camera 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('live_detection')}}">Live Results</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--
   <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">VISUAL 50</a>

    <ul class="navbar-nav d-flex flex-grow-1 align-items-lg-center">

      <li class="nav-item">
        <a class="nav-link"href="{{ url_for('select_results_file')}}" title= "View <br>Results">
        View <br>Results</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"href="{{ url_for('view_live_feed')}}" title= "Select results file">
        Live Camera</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"href="{{ url_for('select_results_file')}}" title= "View Videoooooooooooooooooooooooooooo"><i class="fbi-search"></i></a>
      </li>
    </ul>
  </nav--->
  {% endblock %}

  {% block content %}

      {% block app_content %}

      {# ------- here goes all app html ------- #}

      {% endblock %}

  {% endblock %}

  {% block scripts%}

  <!-- Optional JavaScript -->
  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
    

  {% block app_scripts%}

  {# ------- Here goes all app js ----------------------------------------- #}
  {# ------- Note that map display functions can be duplicated if required  #}

  {% endblock %}
  {% endblock %}

  </body>
</html>
