{% extends "layout.html" %}

{% block app_content %}
<div class="container">
    <h1>Live Image</h1>
    <img id="live_image" src="{{ url_for('live_detection_feed') }}" alt="Live Image">
</div>

{% endblock %}
