{% extends "layout.html" %}

{% block app_content %}

<style type="text/css">

</style>



<div class="container">
  <h3>Select file</h3>
  <table class="table table-condensed">
    <tr>
    {% if files is defined and files|length > 0%}
    {% for file in files %}
    <td><a href="{{  url_for('view_results', results_file=file[0]) }}">{{ file[0]}}&nbsp<b>{{ file[1]}}</b></a></td>
    {% if loop.index  % 3 == 0 %}
    </tr>
    <tr>
    {% endif %}
    {% endfor %}
    {% endif %}
    </tr>
  </table>
</div>



{% endblock %}
