{% extends "layout.html" %}

{% block styles %}
{{ super() }}

<style type="text/css">
  #radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
</style>


{% endblock %} 

{% block app_content %}
      
  <div class="container">
    <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-9" id="image_place">
      <img class="img-fluid" id="my_image">
      <div class="card card-body mb-3">
         <input id="frame_slider" type="text" onchange="refresh()" data-slider-value="{{ frame }}" 
           data-slider-id="slider22"
           data-slider-min="0"
           data-slider-max="20"
           data-slider-step="1"
           data-slider-value="14"/>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3">

      <h3>ICF Detector Verification System</h3>


<div class="container">
    <div class="row">
        
        <div class="form-group">
          <div class="input-group">
            <div id="radioBtn" class="btn-group">
              <a class="btn btn-primary btn-sm active" data-toggle="image_input" data-title="1">Camera 1</a>
              <a class="btn btn-primary btn-sm notActive" data-toggle="image_input" data-title="2">Camera 2</a>
              <a class="btn btn-primary btn-sm notActive" data-toggle="image_input" data-title="D">Detection</a>
            </div>
            <input type="hidden" name="image_input" id="image_input">
          </div>
      </div>
</div>



<form>
  <label for="date_to_show">Date:</label>
  <input type="date" id="date_to_show" name="date_to_show" onchange="refresh()">
  <br>
  <label for="dtime">Time:</label>
  <input type="time" id="appt" name="appt"
       min="09:00" max="18:00"  step="3600" required  onchange="refresh()">
  <br>
  <p>Image displayed:</p>
 <label class="radio-inline">
      <input type="radio" name="optradio" >&nbspC. 1
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">&nbspC. 2
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio" checked>&nbspDetection
    </label>
  <p>Parameters:</p>

 <label class="radio-inline">
      <input type="radio" name="optradio" checked>&nbspAutomatic
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">&nbspManual
    </label>

  </form>
        <div class="card card-body mb-3" id="adj_div" >
           <form id="photo_adjustements" onchange="update_values()">

            {% for key, value  in proc_params.items()%}                                                
            <label class="small_text">{{ key }}: <span id="{{ key }}">{{value[0]}}</span></label>

            <input type="range" value="{{value[0]}}" class="slider" id="{{ key }}" name="{{ key }}" min="1" max="{{value[1]}}"oninput="changeVal(this)">
            {% endfor %}
        </div>

      </form>

    </div>
  </div>
</div>


{# so far all html #}
{% endblock %}

{% block app_scripts%}
{{ super() }}
<script>

  $('#radioBtn a').on('click', function(){
    var sel = $(this).data('title');
    var tog = $(this).data('toggle');

    // set input value
    $('#'+tog).prop('value', sel);

    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active')

    console.log(tog," chaged to ", sel)

    //trigger refresh

})

</script>


{% endblock %}