{% extends "layout.html" %}

{% block styles %}
{{ super() }}

    <style>
        .imagen1 {
            width: auto;
            height: 250px;
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }
        .imagen2 {
            width: auto;
            height: 750px;
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }
        #confirmar-btn {
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }
    </style>
{% endblock %} 


{% block app_content %}

    <h1>Validar Imágenes</h1>
    <img src="{{ url_for('static', filename='img0_roi.jpg') }}" class="imagen1" alt="Imagen 0">
    <img src="{{ url_for('static', filename='img1_roi.jpg') }}" class="imagen2" alt="Imagen 1">
    <button id="confirmar-btn">Confirmar resultados</button>


{# so far all html #}
{% endblock %}

{# and now the js#}
{% block app_scripts%}
{{ super() }}
<script type="text/javascript">
        $(document).ready(function() {
            // Manejar clic en el botón "Confirmar resultados"
            $('#confirmar-btn').click(function() {
                // Mostrar mensaje de confirmación
                if (confirm("¿Confirmar los resultados?")) {
                    // Redirigir a una página específica o realizar alguna acción adicional

                    window.location.href="{{ url_for('select_results_file')}}";
                    alert('Resultados confirmados.');
                } else {
                    alert('Repita la definicion de polilineas.');
                    // El usuario canceló, puedes realizar alguna otra acción si es necesario
                    window.location.href = "{{ url_for('definir_polilineas')}}";
                }
            });
        });
    </script>
{% endblock %}
