{% extends "layout.html" %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style type="text/css">
  #radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

img {
    max-width: 100%;
    max-height: 100%;
}


#slider22 .slider-selection {
    background: #81bfde;
}

#slider22 .slider-rangeHighlight {
    background: #f70616;
}

#slider22 .slider-rangeHighlight.category1 {
    background: #AA5555;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

</style>

{% endblock %} 


{% block app_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-9" id="image_place">
            <img class="img-fluid" id="image">
            <div class="card card-body mb-3">
                <input id="frame_slider" type="text" data-slider-value="{{ frame }}" data-slider-id="slider22" />
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
            <h3>ICF Detector Supervision System</h3>
            <p><b>{{results_file}}</b></p>

            <div class="btn-group" style="width:100%">
                <button class="btn btn-primary btn-sm" title="Jump Backwards" id='bck10 ' onclick='goToNextKeyFrame(-1)'>
                    <i class="fa fa-step-backward fa-sm"></i>

                </button>
                <button class="btn btn-primary btn-sm" title="Jump Backwards" id='bck10 ' onclick='setVideoTime(-1); '>
                    <i class="fa fa-backward fa-sm"></i>
                </button>
                <select title="Frame Jump" id="sel1">
                    <option>1</option>
                    <option>5</option>
                    <option>10</option>
                    <option>50</option>
                    <option>100</option>
                </select>
                <button class="btn btn-primary btn-sm" title="Jump Forward') }}" id='fwd10 ' onclick='setVideoTime(1) '>
                    <i class="fa fa-forward fa-sm"></i>
                </button>
                <button class="btn btn-primary btn-sm" title="Jump Backwards" id='bck10 ' onclick='goToNextKeyFrame(1); '>
                    <i class="fa fa-step-forward fa-sm"></i>
                </button>
                <!--button style="width:15%" title= "]Play Video') }}" onclick="playVideo()"><i class="fa fa-play fa-lg"></i></button-->
            </div>
            <div class="form-group">
                <h3>Image input</h3>

                <input type="radio" name="imageInput" id="imageInput" onclick="refresh()" value="D1" checked>&nbspDetection 1
                <input type="radio" name="imageInput" id="imageInput" onclick="refresh()" value="D2">&nbspDetection 2
                <input type="radio" name="imageInput" id="imageInput" onclick="refresh()" value="1">&nbspCamera 1
                <input type="radio" name="imageInput" id="imageInput" onclick="refresh()" value="2">&nbspCamera 2<br>
            </div>
            <div class="form-group">
                <h3>Processing</h3>
                <input type="radio" name="processMethod" onclick="refresh()" value="R" checked>&nbspRecorded Params <input type="radio" name="processMethod" onclick="refresh()" value="F">&nbspSet Params. File <input type="radio" name="processMethod" onclick="refresh()" value="M">&nbspManual
                </form>
            </div>
            <div class="form-group" id="ParamFileSelection">
                <form>
                    <div id="paramFileSelection">
                        <label for="pp_id">Proc. Params ID:</label>
                        <select id="pp_id" name="pp_id" onchange="refresh()">
                            {% for pp in proc_params_dict_options %}
                            <option value="{{pp['filename']}}">{{pp['filename']}}
                            </option>
                            {% endfor %}
                        </select>
                        <p id="params">Params:</p>
                    </div>
                </form>
                <div class="card card-body mb-3" id="paramDefinition">
                    <form id="photo_adjustements">
                        {% for key, value  in default_proc_params.items()%}
                        {% if key != "id" %}
                        <span id="{{ key }}_label">{{ key }}: <span id="{{ key }}_value">{{value[0]}}</span></span>
                        <input id="{{key}}" data-slider-id='{{key}}Slider' type="text" data-slider-min="0" data-slider-max="{{value[1]}}" data-slider-step="1" data-slider-value="{{value[0]}}" />

                        <!--input type="range" value="{{value[0] }}" class="slider" id="{{ key }}" name="{{ key }}" min="1" max="{{value[1]}}" onchange="refresh()"data-slider-value="{{value[0] }}"/>-->

                        {% endif %}
                        {% endfor %}
                </div>
                </form>
            </div>
        </div>
    </div>
{# so far all html #}
{% endblock %}

{# and now the js#}
{% block app_scripts%}
{{ super() }}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
<script type="text/javascript">

const number_of_frames = {{number_of_frames}}
// define start/end frames:

const keyFrames=[
{%for r in ranges%}{{r[0]}},{{r[1]}},{%endfor%}
]


// Define frame slider
// TODO: usar JS

$("#frame_slider").bootstrapSlider({
    tooltip: 'always',
    min: 0,
    max: number_of_frames,
    rangeHighlights: [
     {%for r in ranges%}
    { "start": {{r[0]}}, "end":{{r[1]}}, "class": "category1" },
     {% endfor %}
    ]
});

$("#frame_slider").on("slideStop", function(slideEvt) {
    refresh();
});

//Define param sliders

{% for key, value  in default_proc_params.items()%} 
{% if key != "id" %}
var {{key}}_slider = new Slider("#{{key}}", {
    tooltip: 'always'
});

{{key}}_slider.on("slideStop", function(slideEvt) {
    newValue = {{key}}_slider.getValue()
    document.getElementById("{{key}}_value").innerHTML = newValue
    refresh()
})
{% endif %}
{% endfor %}

window.onload = function() {
    refresh()
}


function refresh() {

    console.log("refe")
    //Main display function that is called when anything on screen changes

    //Get display option
    var imageInput = document.querySelector('input[name="imageInput"]:checked').value;
    var processMethod = document.querySelector('input[name="processMethod"]:checked').value;

    // Hide unneeded controls
    if (processMethod == "R") {
        document.getElementById("paramDefinition").style.display = "none"
        document.getElementById("paramFileSelection").style.display = "none"
    }
    if (processMethod == "M") {
        document.getElementById("paramDefinition").style.display = "block"
        document.getElementById("paramFileSelection").style.display = "none"
    }
    if (processMethod == "F") {
        document.getElementById("paramDefinition").style.display = "none"
        document.getElementById("paramFileSelection").style.display = "block"
    }

    //Define image url
    var image = document.getElementById("image")

    sliderValue = document.getElementById('frame_slider').value

    if ((imageInput == "1") | (imageInput == "2") | (processMethod == "R")) {

        selectedProcParams = getProcParamsById("{{recorded_id}}")
        displayProcParams(selectedProcParams)
        //Nothing to do just show the camera
        image_url = '{{ url_for("get_image", results_file_name=results_file, frame = 999, image_input = "INP", process_method="PROC" )}}';

        image_url = image_url.replace('999', sliderValue)
        image_url = image_url.replace('INP', imageInput)
        image_url = image_url.replace('PROC', processMethod)
        image.src = image_url

    } else {

        var configId = "*"
        var geomId = "*"
        var procParamsStr2 = "*"

        if (processMethod == "M") {
            procParamsStr2 = getProcParams()
            geomId = "{{recorded_id}}"
        }

        if (processMethod == "F") {
            configId = document.getElementById("pp_id").value;
            geomId = document.getElementById("config1").value;
            selectedProcParams = getProcParamsById(configId)
            console.log("selectedProcParams:",selectedProcParams)
            displayProcParams(selectedProcParams)
        }

        image_url = '{{ url_for("get_image", results_file_name=results_file, frame = 999, image_input = "INP", process_method = "PROC", proc_params_str = "STR",config_id="CONF")}}?'+ new Date().getTime();
        image_url = image_url.replace('999', sliderValue)
        image_url = image_url.replace('INP', imageInput)
        image_url = image_url.replace('PROC', processMethod)
        image_url = image_url.replace('STR', procParamsStr2)
        image_url = image_url.replace('CONF', configId)

        console.log(image_url)
        image.src = image_url
    }

}

function getProcParams() {
    //refresh procParams from slider

    procParams = {}
    {% for key, value  in default_proc_params.items()%} 
    {% if key != "id" %}
      newValue = {{key}}_slider.getValue()
      procParams["{{key}}"] = newValue 
    {%endif%}
    {%endfor%}

    displayProcParams(procParams)

    return (JSON.stringify(procParams))
}

function displayProcParams(procParams){

    displayStr = ""
    for (var key in procParams){
        displayStr += "<b>"+key+":</b>&nbsp"+procParams[key].toLocaleString() + "<br>"
    }
    document.getElementById("params").innerHTML = displayStr
}

function getProcParamsById(ppId){
    console.log("setting id:", ppId)
    
    {% for pp in proc_params_dict_options %} 
    if (ppId == "{{pp['id']}}"){
        procParams = {{pp|safe}}
    }
    {% endfor %}
    return procParams

}


function setVideoTime(val) {
  var speed = document.getElementById("sel1");

  var value = $("#frame_slider").bootstrapSlider("getValue");
 
  $("#frame_slider").bootstrapSlider('setValue', value + val * speed.value, false)
  // force doSomething because this is not a slideStop
  refresh();
}

function goToNextKeyFrame(val) {
    // go to next keyframe forward or backwards

    var framePos = $("#frame_slider").bootstrapSlider("getValue");
    if (val > 0) {
        // could probably be done in a better way...
        newValue = number_of_frames
        for (let i = 0; i < keyFrames.length; i++) {
            if (framePos < keyFrames[i]) {
                newValue = keyFrames[i]
                break
            }
        }
    } else {
        newValue = 0
        for (let i = 0; i < keyFrames.length; i++) {
            if (framePos > keyFrames[keyFrames.length - i -1 ]) {
                newValue = keyFrames[keyFrames.length - i -1 ]
                break
            }

        }
    }
    $("#frame_slider").bootstrapSlider('setValue', newValue, false)
}

</script>    

{% endblock %}