{% extends "layout.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block app_content %}

<div class="container-fluid">
  <div class="row align-items-center">     
    <div class="col-sm-6 col-md-6 col-lg-9 padding-zero embed-responsive embed-responsive-16by9">
           
      <div class="mx-auto my-auto">
<video id="myVideo" controls>
  <source src="{{ url_for('display_video', filename=filename) }}" type="video/mp4"></source>

  Your browser does not support HTML5 video.
</video>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3" position: relative;>
       
  </div>
</div>

{# so far all html #}
{% endblock %}

{# and now the js#}
{% block app_scripts%}
{{ super() }}

<script type="text/javascript">


</script>        

{% endblock %}
