{% extends "layout.html" %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<style type="text/css">
  #radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

img {
    max-width: 100%;
    max-height: 100%;
}
</style>

{% endblock %} 


{% block app_content %}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-9" id="image_place">
         <img class="img-fluid" id="image" >
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
         <h3>ICF Detector Verification System</h3>
            <div class="form-group">
                <h3>Image input</h3>

                <input type="radio" name="imageInput" id="imageInput" onclick="refresh()" value="D1" checked>&nbspDetection 1
                <input type="radio" name="imageInput" id="imageInput" onclick="refresh()" value="D2">&nbspDetection 2
                <input type="radio" name="imageInput" id="imageInput" onclick="refresh()" value="1">&nbspCamera 1
                <input type="radio" name="imageInput" id="imageInput" onclick="refresh()" value="2">&nbspCamera 2<br>
            </div>
            <div class="form-group">
                <h3>Processing</h3>
                <input type="radio" name="processMethod" onclick="refresh()" value="F" checked>&nbspSet Params. File <input type="radio" name="processMethod" onclick="refresh()" value="M">&nbspManual
                </form>
            </div>
            <div class="form-group" id="ParamFileSelection">
                <form>
                    <div id="paramFileSelection">
                        <label for="pp_id">Proc. Params ID:</label>
                        <select id="pp_id" name="pp_id" onchange="refresh()">
                            {% for pp in proc_params_dict_options %}
                            <option value="{{pp['filename']}}">{{pp['filename']}}
                            </option>
                            {% endfor %}
                        </select>
                        <p id="params">Params:</p>
                    </div>
                </form>
                <div class="card card-body mb-3" id="paramDefinition">
                    <form id="photo_adjustements">
                        {% for key, value  in default_proc_params.items()%}
                        {% if key != "filename" and key != "id" %}
                        <span id="{{ key }}_label">{{ key }}: <span id="{{ key }}_value">{{value[0]}}</span></span>
                        <input id="{{key}}" data-slider-id='{{key}}Slider' type="text" data-slider-min="0" data-slider-max="{{value[1]}}" data-slider-step="1" data-slider-value="{{value[0]}}" />

                        <!--input type="range" value="{{value[0] }}" class="slider" id="{{ key }}" name="{{ key }}" min="1" max="{{value[1]}}" onchange="refresh()"data-slider-value="{{value[0] }}"/>-->

                        {% endif %}
                        {% endfor %}
                        </form>
                        
                        <button id="save_params" >Guardar parametros</button>

                </div>
            </div>
        </div>
    </div>


{# so far all html #}
{% endblock %}

{# and now the js#}
{% block app_scripts%}
{{ super() }}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
<script type="text/javascript">

//Define param sliders

{% for key, value  in default_proc_params.items()%} 
{% if key != "id" %}
var {{key}}_slider = new Slider("#{{key}}", {
    tooltip: 'always'
});

{{key}}_slider.on("slideStop", function(slideEvt) {
    newValue = {{key}}_slider.getValue()
    document.getElementById("{{key}}_value").innerHTML = newValue
    refresh()
})
{% endif %}
{% endfor %}


$(document).ready(function() {
    // Manejar clic en el botón "Confirmar resultados"
    $('#save_params').click(function() {
        // Mostrar mensaje de confirmación
            var procParams = getProcParams();
            
             // Realizar la solicitud AJAX
            $.ajax({
                url: '/save_params',
                type: 'POST',
                data: { params: procParams },
                success: function(response) {
                    // Manejar la respuesta del servidor
                    alert(response.message); // Muestra el mensaje recibido del servidor
                },
                error: function(xhr, status, error) {
                    // Manejar errores de la solicitud
                    console.error('Error al realizar la solicitud AJAX:', error);
                    alert('Error al guardar los parámetros.');
                }
            });
    });
});


function refresh(){

    //Main display function that is called when anything on screen changes

   
    //Get display option
    var imageInput = document.querySelector('input[name="imageInput"]:checked').value;
    var processMethod = document.querySelector('input[name="processMethod"]:checked').value;

    // Hide unneeded controls
    if (processMethod == "M") {
        document.getElementById("paramDefinition").style.display = "block"
        document.getElementById("paramFileSelection").style.display = "none"
    }
    if (processMethod == "F") {
        document.getElementById("paramDefinition").style.display = "none"
        document.getElementById("paramFileSelection").style.display = "block"
    }


    var image = document.getElementById("image")
    
    if ((imageInput =="1") | (imageInput=="2")){
      img_url = "{{ url_for('video_feed',show_option='XXX') }}"
      img_url = img_url.replace('XXX',imageInput)
      image.src = img_url
    }else{
        var fileName = "*"
        var procParamsStr2 = "*"

        if (processMethod == "M") {
            procParamsStr2 = getProcParams()
            console.log(procParamsStr2)
        }

        if (processMethod == "F") {
            fileName = document.getElementById("pp_id").value;
            selectedProcParams = getProcParamsById(fileName)
            displayProcParams(selectedProcParams)
        }

        image_url = '{{ url_for("video_feed",show_option="PROC", proc_params_file = "FILE", proc_params_str = "STR")}}';

        image_url = image_url.replace('INP', imageInput)
        image_url = image_url.replace('STR', procParamsStr2)
        image_url = image_url.replace('FILE', fileName)
        console.log("file:", fileName)
        console.log(image_url)
        image.src = image_url
    }
}

function getProcParams() {
    //refresh procParams from slider

    procParams = {}
    {% for key, value  in default_proc_params.items()%} 
    {% if key != "id" %}
      newValue = {{key}}_slider.getValue()
      procParams["{{key}}"] = newValue 
    {%endif%}
    {%endfor%}

    displayProcParams(procParams)

    return (JSON.stringify(procParams))
}

function saveParams(){
}


function displayProcParams(procParams){
    displayStr = ""
    for (var key in procParams){
        displayStr += "<b>"+key+":</b>&nbsp"+procParams[key].toLocaleString() + "<br>"
    }
    document.getElementById("params").innerHTML = displayStr
}

function getProcParamsById(ppId){

    console.log("ppID:", ppId)
    
    {% for pp in proc_params_dict_options %} 
    if (ppId == "{{pp['filename']}}"){
        procParams = {{pp|safe}}
    }
    {% endfor %}
    return procParams

}

window.onload = function() {

  // Initialize slider and params
  //resetProcParams()
  refresh()


}


</script>    

{% endblock %}