{% extends "layout.html" %}

{% block styles %}
{{ super() }}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">

<style type="text/css">
  #radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}
</style>

{% endblock %} 


{% block app_content %}


<div class="container">
   <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-9" id="image_place">
         <img class="img-fluid" id="my_image">
         <div class="card card-body mb-3">
            <input id="frame_slider" type="text" data-slider-value="{{ frame }}" 
               data-slider-id="slider22"
               data-slider-min="0"
               data-slider-max="20"
               data-slider-step="1"
               data-slider-value="14"/>
         </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
         <h3>ICF Detector Verification System</h3>
         <form>
            <label for="date_to_show">Date:</label>
            <input type="date" id="date_to_show" name="date_to_show" onchange="refresh()">
            <br>
            <label for="dtime">Time:</label>
            <input type="time" id="appt" name="appt"
               min="09:00" max="18:00"  step="3600" required  onchange="refresh()">

            <div class="form-group">
      <div class="btn-group" style="width:100%">
         <button class="btn btn-primary" title= "]Jump Backwards]" id='bck10 ' onclick='setVideoTime(-1); '><i class="fa fa-backward fa-lg"></i></button>      
         <select title= "]Frame Jump]" id="sel1">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>50</option>
            <option>100</option>
         </select>
         <button style="width:15%"  title= "]Jump Forward') }}" id='fwd10 ' onclick='setVideoTime(1) '><i class="fa fa-forward fa-lg"></i></button>
         <button style="width:15%" title= "]Play Video') }}" onclick="playVideo()"><i class="fa fa-play fa-lg"></i></button> 
         <button style="width:15%" title= "]Set Marks]" onclick='setMarks() '>&nbsp;<i class="fa fa-map-marker fa-lg"></i>&nbsp;</button>
      </div>
    </div>
            <div class="form-group">
      <div class="btn-group" style="width:100%">

                  <div id="radioBtn" class="btn-group">
                     <label for="image_input">Display:</label>
                     <a class="btn btn-primary btn-sm active" data-toggle="image_input" data-title="D" onclick="refresh()">Detection</a>
                     <a class="btn btn-primary btn-sm notActive" data-toggle="image_input" data-title="1" onclick="refresh()">Camera 1</a>
                     <a class="btn btn-primary btn-sm notActive" data-toggle="image_input" data-title="2" onclick="refresh()">
                    Camera 2</a>
                  </div>
                  <input type="hidden" name="image_input" id="image_input" value="D">
               </div>
            </div>
            <div class="form-group">
               <div class="input-group">
                  <div id="radioBtn" class="btn-group">
                     <label for="process">Processing:</label>
                     <a class="btn btn-primary btn-sm notActive" data-toggle="process" data-title="A" onclick="resetProcParams()">Automatic</a>
                     <a class="btn btn-primary btn-sm active" data-toggle="process" data-title="M" onclick="releaseProcParams()">Manual</a>
                  </div>
                  <input type="hidden" name="process" id="process" value="M">
               </div>
            </div>
         </form>
         </form>
         <div class="card card-body mb-3" id="adj_div" >
            <form id="photo_adjustements" onchange="update_values()">
               {% for key, value  in proc_params.items()%}                                                
               <label class="small_text">{{ key }}: <span id="{{ key }}_label">{{value[0]}}</span></label>
               <input type="range" value="{{value[0]}}" class="slider" id="{{ key }}" name="{{ key }}" min="1" max="{{value[1]}}"oninput="changeVal(this)" disabled>
               {% endfor %}
         </div>
         </form>
      </div>
   </div>
</div>


{# so far all html #}
{% endblock %}

{# and now the js#}
{% block app_scripts%}
{{ super() }}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>

<script type="text/javascript">  
// radio buttons management
$('#radioBtn a').on('click', function(){
    var sel = $(this).data('title');
    var tog = $(this).data('toggle');
    $('#'+tog).prop('value', sel);
    
    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
})
</script>

<script type="text/javascript">

var procParamsStr = '{{proc_params_json|safe}}'

console.log("procParams", procParamsStr)

procParams = JSON.parse(procParamsStr)

function setImage(){
  alert("image changed")
}

function resetProcParams(){

  for (const [key, value] of Object.entries(procParams)) {
    input_element = document.getElementById(key)
    input_element.value = value[0]
    input_element.disabled = true

    document.getElementById(key).value = value[0]
  }
}

function releaseProcParams(){

  for (const [key, value] of Object.entries(procParams)) {
    input_element = document.getElementById(key)
    input_element.disabled = false
  }
}

function getProcParams(){

var val_dict = []; // create an empty array

  for (const [my_key, my_value] of Object.entries(procParams)) {
    value_read = document.getElementById(my_key).value 
    val_dict.push({
        key:   my_key,
        value: value_read
    });
  }
  return(JSON.stringify(val_dict))
}


function changeVal(){
  console.log("change")
}

window.onload = function() {

  // Initialize slider and params

  var number_of_frames = {{ number_of_frames }}
  var starts={{ starts | tojson}}
  var ends={{ ends | tojson}}
  var param={{ param | tojson}}
  var ranges=[]

  //initialize_values(param)

  for (i=0;i<starts.length;i++){
    ranges.push({"start":starts[i],"end":ends[i]})
  }
  
  $("#frame_slider").bootstrapSlider({
    tooltip: 'always',
    min: 0,
    max: number_of_frames,
      step: 1,
      value: 0,
      rangeHighlights: ranges
    });
  $("#frame_slider").on("slideStop", function(slideEvt) {
  refresh(slideEvt.value)
  //doSomething(slideEvt.value,$('input:radio[name=video_select]:checked').val(),read_date);
});

};

function refresh(sliderValue){

    sliderValue = document.getElementById('frame_slider').value
    console.log("slider:", sliderValue)

    procParamStr = getProcParams()
    console.log("Paramaters:", procParamStr)

    procInput = document.getElementById('process').value
    console.log("proc val:", procInput)

    imageInput = document.getElementById('image_input').value
    console.log("image input:", imageInput)

    var image = document.getElementById("my_image");
    image_url = '{{ url_for("get_image", frame = 999, time = "time_xxx", image_input = "image_input", process = "process", proc_params = "pppp")}}';

    image_url = image_url.replace('999',sliderValue)
    image_url = image_url.replace('time_xxx',sliderValue)
    image_url = image_url.replace('image_input',imageInput)
    image_url = image_url.replace('process',procInput)
    image_url = image_url.replace('pppp',procParamsStr)

    console.log(image_url)
    
    image.src = image_url
}


</script>    

{% endblock %}