{% extends "layout.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-slider.css') }}" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
    #map {
        height: 100vh;
    }
    #image_place {
        height: 100vh;
    }
    .div-header{
        width: 90%;
        float: left;
    }
    .div-btn{
        width: 10%;
        float: left;
    }

    .small_text {
        font-size: 14px;
    }
    
    .slider {
      margin:10px;
        width: 95% !important;
    }
    
    .well {
        margin: 0px;
        padding: 10px;
        background-color: #D0D0D0;
    }

.btn-group button {
  background-color: #006A99;; /* Green background */
  border: 1px solid white; /* Green border */
  border-radius: 5px;
  display: inline-flex;
  height: 40px;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.btn-group select {
  background-color: #006A99; /* Green background */
  border: 1px solid white; /* Green border */
  border-radius: 5px;
  height: 40px;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #005077;
}

.icon-play {
background-image : url("{{ url_for('static', filename = 'images/edit.png') }}");
  background-size: cover;
  display: inline-block;
  height: 20px;
  width: 25px;
}

</style>

{% endblock %} {% block app_content %}



<div class="container-fluid">
<div class="row align-items-center">
   <div class="col-sm-6 col-md-6 col-lg-9" id="image_place">
      <div id=canvas_div>
         <canvas id="canvas"></canvas>
         <!---img class="img-responsive" id="myImage" --->
      </div>
      <div class='well'>
         <input id="frame_slider" type="text" data-slider-value="{{ frame }}" >
      </div>
   </div>
   <div class="col-sm-6 col-md-6 col-lg-3" position: relative;>
      <!-- Map stuff-->
      <div id="dvMap" style="height:45vh;"></div>
      <div class='btn-toolbar pull-right'>
         {% if current_user.is_admin() or current_user.is_superuser() or current_user.is_supervisor() %}      
         <button type='button' class='btn btn-primary' title= "{{ _('Edit Video Info') }}" 
            onclick="editVideo()" >
         <i class="icon-play"></i></button>
         <button type='button' class='btn btn-primary' title= "{{ _('Photo adjustements') }}" onclick="showPhotoSliders()">
         <i class="fa fa-magic fa-lg"></i></button>
         <button type='button' class='btn btn-danger' title= "{{ _('Delete Video Reference') }}" onclick='deleteVideoRef()'>  <i class="fa fa-trash fa-lg"></i></button>   
         {% endif %}
      </div>
      <div id="video_info" style="height: 40vh;">
         <h2>{{ _('Video File Info') }}</h2>
         <br>
         <p><b>{{ _('Load Date:') }}</b> {{video.load_time.strftime('%Y/%m/%d')}} </p>
         <p><b>{{ _('Capture Date:') }}</b> {{video.record_time.strftime('%Y/%m/%d')}} </p>
         <p><b>{{ _('User:') }}</b> {{video.username}} </p>
         <p><b>{{ _('Start Point:') }}</b> {{video.start_point_type}} / {{video.start_point_name }}</p>
         <p><b>{{ _('End Point:') }}</b> {{video.end_point_type}} / {{video.end_point_name }}</p>
         <p><b>{{ _('File Name:') }}</b> <br>{{video.file_name}}</p>
         <p><b>{{ _('Info:') }}</b> <br>{{video.comment}}</p>
      </div>
      <!--- Photo Adjustements Dropdown --->
      <div class="content" id="photo_sliders" style="width:100%">
         <form id="photo_adjustements" onchange="place_image_in_canvas()" '>
            <br>
            <label class="small_text">{{ _('EXPOSURE: ') }} <span id="exposureVal">0</span></label>
            <input type="range" value="0" class="slider" id="exposureSlider" name="exposure_slider" value="0" min="-100" max="100">
            <br>
            <label class="small_text">{{ _('CONTRAST: ') }} <span id="contrastVal">0</span></label>
            <input type="range" value="0" class="slider" id="contrastSlider" name="contrast_slider" value="0" min="-100" max="100">
            <br>
            <label class="small_text">{{ _('SATURATION: ') }} <span id="saturationVal">0</span></label>
            <input type="range" value="0" class="slider" id="saturationSlider" name="saturation_slider" value="0" min="-100" max="100"> 
            <br>&#x25BC;
            <label class="small_text">{{ _('SHARPNESS: ') }} <span id="sharpnessVal">0</span></label>
            <input type="range" value="0" class="slider" id="sharpnessSlider" name="sharpness_slider" value="0" min="0" max="100">
            <br>
         </form>
         <button class="btn btn-primary btn-sm" type ="button" style="width: 100%;" onclick="zeroFilters()">Reset Filters</button>
         <br>
         <br>
      </div>
      <div class="btn-group" style="width:100%">
         <button style="width:15%" title= "{{ _('Jump Backwards ') }}" id='bck10 ' onclick='setVideoTime(-1); '><i class="fa fa-backward fa-lg"></i></button>      
         <select style="width:25%" title= "{{ _('Frame Jump ') }}" id="sel1">
            <option>1</option>
            <option>5</option>
            <option>10</option>
            <option>50</option>
            <option>100</option>
         </select>
         <button style="width:15%"  title= "{{ _('Jump Forward') }}" id='fwd10 ' onclick='setVideoTime(1) '><i class="fa fa-forward fa-lg"></i></button>
         <button style="width:15%" title= "{{ _('Save Obs ') }}" onclick ="saveObs()"><i class="fa fa-camera fa-lg"></i></button>
         <button style="width:15%" title= "{{ _('Play Video') }}" onclick="playVideo()"><i class="fa fa-play fa-lg"></i></button> 
         {% if current_user.is_admin() or current_user.is_superuser() or current_user.is_supervisor() %}      
         <button style="width:15%" title= "{{ _('Set Marks ') }}" onclick='setMarks() '>&nbsp;<i class="fa fa-map-marker fa-lg"></i>&nbsp;</button>
         {% endif %}
      </div>
   </div>
</div>

{# so far all html #}
{% endblock %}

{# and now the js#}
{% block app_scripts%}
{{ super() }}

<script type="text/javascript" src="{{ url_for('static', filename = 'js/bootstrap-slider.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/caman.full.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/camanFiltering.js')}}"></script>
<script type="text/javascript">

Caman.DEBUG = true

var marker;
var video_id = {{video.id}};
var canvas = document.getElementById('canvas')
var context = canvas.getContext('2d')
var exposure = 0
var contrast = 0
var saturation = 0
var sharpness = 0

// Slider management

var ref_points_json = "{{ video.ref_points_json }}"
//var obs_points_json = "{{ obs_points_json }}"
var number_of_frames = {{ video.number_of_frames }}
var video_id = {{video.id}}
var ref_frame_numbers = [];
var ref_positions = [];
var ref_names = [];

var position_marker;


var maxHeight = document.getElementById('image_place').clientHeight - 150;
var maxWidth = document.getElementById('image_place').clientWidth -20;


if (ref_points_json != "None") {
  markers = JSON.parse(ref_points_json.replace(/&#34;/g, '"'))
  ref_frame_numbers = markers.frame_numbers
  ref_positions = []
  for (var i = 0; i < markers.frame_numbers.length; i++) {
    ref_positions.push(100 * markers.frame_numbers[i] / (number_of_frames - 1))
  }
  ref_names = markers.point_names
}

/*
// In case obs markers on slider were required

obs_markers = JSON.parse(obs_points_json.replace(/&#34;/g, '"'))
obs_frame_numbers = obs_markers.obs_frame_indices
obs_positions = []
obs_names = []
for (var i = 0; i < obs_markers.obs_frame_indices.length; i++) {
  obs_positions.push(100 * obs_markers.obs_frame_indices[i] / (number_of_frames - 1))
  obs_names.push('*')
}


// Define frame slider

$("#frame_slider").bootstrapSlider({
  tooltip: 'always',
  min: 0,
  max: number_of_frames,
  ticks: ref_frame_numbers.concat(obs_frame_numbers),
  ticks_positions: ref_positions.concat(obs_positions),
  ticks_labels: ref_names.concat(obs_names),
  ticks_snap_bounds: 1
});
*/


$("#frame_slider").bootstrapSlider({
  tooltip: 'always',
  min: 0,
  max: number_of_frames,
  ticks: ref_frame_numbers,
  ticks_positions: ref_positions,
  ticks_labels: ref_names,
  ticks_snap_bounds: 1
});


$("#frame_slider").on("slideStop", function(slideEvt) {
  doSomething(slideEvt.value);
});


function setVideoTime(val) {
  alert("SVT")
  var speed = document.getElementById("sel1");

  var value = $("#frame_slider").bootstrapSlider("getValue");
 
  $("#frame_slider").bootstrapSlider('setValue', value + val * speed.value, false)
  // force doSomething because this is not a slideStop
  doSomething(value + val * speed.value);
}


function doSomething(value) {
  $.getJSON($SCRIPT_ROOT + '{{ url_for("video.get_xy_from_frame") }}', {
    frame_index: value,
    video_id: video_id
  }, function(data) {
    //Remove previous Marker.
    if (position_marker != null) position_marker.setMap(null);

    //Set Marker on Map.
    var myLatlng = new google.maps.LatLng(data.y, data.x);
    position_marker = new google.maps.Marker({
      position: myLatlng,
      icon: "{{ url_for('static', filename = 'images/cameraIcon.png') }}",
      map: map
    });

  });

  place_image_in_canvas()
  return false;
};

var image;


window.onload = function() {

  var mapOptions = {
    center: new google.maps.LatLng({{y_center}},{{x_center}}),
    zoom: 17,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    gestureHandling: 'greedy'
  };
  
  map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);

  map.setOptions({ styles: noPoi });
  
  //displayVideoGeometry();

  //turnOnDVMarkers();
  //turnOnAVMarkers();
  //turnOnIOMarkers();
  //turnOnPipes();
  //doSomething(0);

  // display video geometry
  data2 = new google.maps.Data();
  data2.setStyle({ strokeColor: "#CC0000",strokeOpacity: 1.0, strokeWeight: 6});
  var str = {{ json_str|safe }}
  data2.addGeoJson(str);
  data2.setMap(map);

  // Initialize canvas variables where image is displayed
  var canvasDiv = document.getElementById("canvas_div");
  canvasWidth = canvasDiv.offsetWidth

  // Reset photo filters
  zeroFilters()
  doSomething({{ frame }})


};


function SetMarkerLatLong(lat,lng) {
    //Remove previous Marker.
    if (marker != null) marker.setMap(null);

    //Set Marker on Map.
    var myLatlng = new google.maps.LatLng(lat,lng);
    marker = new google.maps.Marker({
        position: myLatlng,
        map: map
    });
};

/* Image manipulation */

function zeroFilters(){

  document.getElementById('exposureSlider').value = 0
  document.getElementById('sharpnessSlider').value = 0
  document.getElementById('contrastSlider').value = 0
  document.getElementById('saturationSlider').value = 0
  place_image_in_canvas()

}

function applyFilters() {

  exposure = parseInt(document.getElementById('exposureSlider').value)
  sharpness = parseInt(document.getElementById('sharpnessSlider').value)
  contrast = parseInt(document.getElementById('contrastSlider').value)
  saturation = parseInt(document.getElementById('saturationSlider').value)

  document.getElementById('exposureVal').innerHTML = exposure
  document.getElementById('sharpnessVal').innerHTML = sharpness
  document.getElementById('contrastVal').innerHTML = contrast
  document.getElementById('saturationVal').innerHTML = saturation

  if ((exposure != 0) || (sharpness != 0) || (contrast != 0) || (saturation != 0))
  {

    Caman('canvas', function () {

      this.reloadCanvasData();
      if (exposure !=0 ) this.exposure(exposure);
      if (contrast !=0 ) this.contrast(contrast);
      if (saturation != 0) this.saturation(saturation);
      if (sharpness !=0) this.sharpen(sharpness);
      this.render();

    });
  }
  
}

function place_image_in_canvas(){

  image = new Image();
  var value = $("#frame_slider").bootstrapSlider("getValue");
  my_url = '{{ url_for("video.get_video_image", video_id=video.id, frame = -99) }}'
  image.src = my_url.replace('-99',value)
  image.onload = function(){

    scale1 = image.width / maxWidth
    scale2 = image.height / maxHeight
    scale = Math.max(scale1, scale2)

    imageWidth = image.width / scale
    imageHeight = image.height / scale
    console.log("imageWidth: ",imageWidth, "imageHeight: ",imageHeight)

    context.canvas.width  = imageWidth
    context.canvas.height = imageHeight
    context.drawImage(image,0,0,imageWidth,imageHeight);
    applyFilters()

  } 
}

function deleteVideoRef(){  
  confirm_str = "{{ _('Video information and all images associated will be deleted') }}"
  var r = confirm(confirm_str);
  if (r == true) {
    $.getJSON($SCRIPT_ROOT + '{{ url_for("video.delete_video_ref") }}', {video_id: video_id},
      function(data) {
        if (data.success == false) { alert (data.message); }
        else { 
          alert("Video deleted successfully from DB")
          window.location.href = $SCRIPT_ROOT + '{{ url_for("index") }}';
        }
    });
  }
};

/* Save Obs */

function saveObs(){
  var photo_adj_string
  if ((exposure != 0) || (sharpness != 0) || (contrast != 0) || (saturation != 0))
  {
    var photo_adjustments = {
      exposure : exposure,
      contrast : contrast, 
      saturation : saturation,
      sharpness : sharpness
    }
    photo_adj_string = JSON.stringify(photo_adjustments)
  }
  else{
    photo_adj_string = "-"
  }

  redirectURL = '{{ url_for("obs.save_obs", obs_type="V",file_name="-",x="0",y="0",  
    video_id=video.id, frame_number=-999, photo_adjustments="photo_adj_string") }}'
  
  // replace default values with js variables  
  redirectURL = redirectURL.replace("-999",document.getElementById('frame_slider').value)
  redirectURL = redirectURL.replace("photo_adj_string",photo_adj_string)
  window.location.href = redirectURL
}

/* Redirect to set marks screen */

function setMarks(){
  redirectURL = '{{ url_for("video.set_marks", video_id=video.id, frame_number=-999) }}'
  
  // replace default values with js variables
  redirectURL = redirectURL.replace("-999",document.getElementById('frame_slider').value)
  window.location.href = redirectURL
}

/* Redirect to set marks screen */

function editVideo(){
  redirectURL = '{{ url_for("video.edit_video_ref", video_id=video.id, frame_number=-999) }}'
  
  // replace default values with js variables
  redirectURL = redirectURL.replace("-999",document.getElementById('frame_slider').value)
  window.location.href = redirectURL
}

/* Redirect to play video */

function playVideo(){

  redirectURL = '{{ url_for("play", filename=video.file_name) }}'
  
  // replace default values with js variables
  redirectURL = redirectURL.replace("-999",document.getElementById('frame_slider').value)
  window.location.href = redirectURL
}

/* Collapse function
When photo button is clicked, video info div is hidden in order to make room fo photo slider */

function showPhotoSliders(){

  var photoSliders=document.getElementById("photo_sliders")
  var videoInfo=document.getElementById("video_info")
    if (photoSliders.style.display === "block") {
      photoSliders.style.display = "none";
      videoInfo.style.display = "block";

    } else {
      photoSliders.style.display = "block";
      videoInfo.style.display = "none";
    }


}

</script>        

{% endblock %}
